*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin: 20px;
}

.container{
  padding: 2rem;
  margin: 3rem auto;
  max-width: 70%;
}

.doctors img{
  width: 200px;
  height: 200px;
}

.photos{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.doctors p{
  text-align: center;
}

h3{
  display: flex;
  justify-content: space-between;
}

.hastalistesi{
  margin: 30px 20px;
  border: 2px solid gray;
}

.bitti{
  text-decoration: line-through;
  border: 2px solid gray;
  background-color: wheat;
  padding: 1rem;
  margin: 10px;
  cursor: pointer;
}

.devam{
  text-decoration: none;
  border: 2px solid gray;
  background-color: lightgreen;
  padding: 1rem;
  margin: 10px;
  cursor: pointer;
}